name: ZAP Authenticated Full Scan (HTTP Cookie Auth)

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  zap-full-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare workspace
      run: |
        chmod -R 777 .
        mkdir -p zap-output

    - name: Run ZAP Full Scan (Authenticated via Cookie)
      run: |
        docker run --rm \
          -v "$(pwd):/zap/wrk" \
          ghcr.io/zaproxy/zaproxy:stable \
          zap-full-scan.py \
          -t https://valuelabs-admin.adhoc.stabilthus.io \
          -r zap-report.html \
          -x zap-report.xml \
          -j \
          -I \
          -d \
          -a \
          \
          -z "-config spider.maxDuration=180 \
              -config spider.maxDepth=10 \
              -config spider.postform=true \
              -config spider.processform=true \
              -config spider.parsecomments=true \
              -config spider.handleParameters=true \
              -config ajaxSpider.enabled=false \
              -config scanner.excludeurls=^https://valuelabs-admin\.adhoc\.stabilthus\.io/logout$ \
              -config replacer.full_list(0).description=AuthCookie \
              -config replacer.full_list(0).enabled=true \
              -config replacer.full_list(0).matchtype=REQ_HEADER \
              -config replacer.full_list(0).matchstr=Cookie \
              -config replacer.full_list(0).regex=false \
              -config replacer.full_list(0).replacement=.AspNetCore.Cookies=chunks-2; .AspNetCore.CookiesC1=CfDJ8ASRVcw_dElEvrjkHUHogLU7lsgzT1hTG-ywwly7WgH5P7x0Q9VIaDotAuv8EhtYJ_k21lCeyBocnYhnzEwWiPldlvJAMPele-fj9XhK78J4hp92uaSHzjWfDO3rNk5ENrB9aj2GwGgOoz6i3qDrNcYULzVrwd-eXtGGlRQhbg5etYzUcpnaFq1vRIbJ29JpfPQRPvXDSGvMe7GmVwhPSyIsfmdzTPoNgs2bFy_Lf4XfU4kP1YUyGEurlqCYh65rkSoi6E1jn--EqdUxQpTyZ88IQKRkoDB8RutHhJpg3tpZUCgEHD6W-rELyCa4zTxRt_iVTgDJK6HWWKVpugm0qyeGMFTOgYelCuDfN-sRPXSm7xQkVLb6mb4wLD9SD-sfPquipPs9M4V9_ry3pTwlH9dqxz17lrQD5LUwxdKS0wCr-8kqjAdo80t0pKG9hLnUdAFponjiHSm_Zqr038_HyjT8eBd9aPn9bB_iimLukAuLAF9bdf61o68wYna2rVL_N_m8maMOJaLwY2xXo5XVv7TsJyK-Tw_QSZBI-uSjPudqLLbZXB7Y-wwoqh4DFqos2sUWL6rRHCdIjhhrT6y9kGFnkMNf5wQLcyRMpM9gwTVHCWDPUA48IF5o9Xu4vCTMCdl_9HRDlfv2lDSUCUJiWOfmgl8eC9YeDVqXA1Cklrl3BUrX1i020KIlKG-k88CXBYBKHUFewf3xSjK-S9el494mWhIFpv5crEOOLhn_jo9CI_QWsIZpicv77N0hyOI23g3rWmozVs8OtbbIjKz3wJiW9YM6LZnh3RCwEr6NnM5CI7fz472JG15RaCbbyJuuFyAxJ7m5Z_iCSRRTpY4YaFUFAQ1DZaBHZ5ZDAZDiM0oMKodeXNh36Wde0hA4vFY7uEBgWGv__ch5zu3yq-mx0NlO3f0NH64CmqiC_t3T-hVuqwlLVZTxFdIxSJpiZ6xej0QffaW5a2yiitAj-jnbiuMxrXJRusS3xexCrnyOuc7QBgIXBMjwHLd7FPnGkhxaMHBY09A17P7BQepT-v7aH-S7g9HsQZH9I3Wq6NYEXQSVJKnGg906-nGTGTt5kFOjStWY-DElWnz9AtPw_64HVtB0fhk3g0-6nasBjvy0-bI2Uvm2ljdMK6wJDo7e0XYiir_maOscCt5sbHlj8El_EK6jmsv62i9n3GNQZWle57HE84jbxlBLWd46FZAITM8WxSmT5bqX3w96j4qlapvo3OzuPpmW9XHpu2IOO9UDhnFyY8x-Y0JgQzK4iCow4GxXJ0UElnrt70D6_4b2UAloJiJ9QJug6K5vtqPOSlWUBRkrclxnlYYThF_GiQp3a6VGOilOJxMNSwoAeTsyLDruVYbgNn-s5YgPugDlukMybKwctRrvAS777tozao224pjDg0dm7Eo9T-tpBuGUnb732k-vhsqpuyRl1ajAcsTocj-2sP6MX9UXtaIfaUQ-na87kueh3xQWi1Q38Z6rorhszt_cisNrltU-FwN3bqvj-Zbi9sCd5ycZoyom4oZn68n8fyJsHyhq1WbR9PLEOU4woNkTCYY6-idFzlcx0fD_w2-XrBTsiCYlZ_Owr8gCJU1k5v68CgaFwHBo3F-PVpZ0iTcQXB0BMd87ezUEwiKACn7cKayx9EliYPehso21zFiiEoX4TqNaCNoetPdiz46u4EfwUcK3qmdv_vCyWXC9IQ6nRlskS-uO8Dp5CLB2D_sv4_hUT_bdk8cq7iMvUy81nFpXs4kqcdKuLmkSbeflUWNwbwlfMzhu0ba99i8yhuYYiMd2bxiIM8G976S6BbwVl81xOv-RuS6Pb9fGay5bgudF6WvdoMone1BssrAqAbS1U_9Nt9M-DRQNM6g5-7-kTrmVeYdYmGsJLBwostM-PTpL2KVqdzLlBdlLHdh3-7ze2iKBF_oePAaOc8Pzepg6LrXkEILMDkTg9MOXuNdKCbHVHfTCXR5FHmAA0NY_Ee_TvqZAPk3ktr78t4h68jUAdy5mA47kFvUAZAh3mzEezOSX7vv6NNuV-RXunlE_9Mab_RbS9JWfyRaucSGaNsfhIN-E6g7j5OhuXWxcStKrF88VVcU68pMPRmoireahaBZlD_MqCE4oZXAJNhE_-amVccmSQrO37BXyWrD6ShPwWefVQTCqesxjvS31Ietm4ATardx2-K7tOk6E-U-p1gSNsE37-HctMj0ryVEMnoKJArqulNU8fqgAtaZgOj_qPrb_4rNmZwel34KiguYbN4GKt_ylGhdbPyUBIjP3LhsXf5U9C7pkHA1SpzuvCUTtR4hKxUkylaZ7TjKZBM89GtsDEiyq7ohQdrIz-utry8aI2Z8jjbbq3B1kXYFeCK_cUU0OsItZf0sP_V_X9txQ08DggOLNtE62M7X8Km8TpBTOEQxF6hWTrS_QPEWzQ8XA-_x-sJXpGNaOyDqqFBU6CUYxGHrvC15J9W54w-KFDvQSdAu8TcYI0F2xrdJmzfrEZmo4PMifNXppFOJtIR3Wvb2vy0YTZG3c7e35BZd2Yh5c5-14Z6llOb-7gavERgk5xZG9ezazX6SdPye51Jx57HRdbG1Bo0lPj1lpw6S44FUAS_O5EWtz0aEJd23s4Hy3THK9oYoLZ4yQMb8F_IMoFHxmOwznZ_4EqIjIRZ2rZgULV0RPNzY2Yf4ZQen2KI6ZeRvK8wIKE3_vjs1GoA8EmF9jcofpSE6k4AIKz_X7HVLyiLLuHEy-DIPF9iQUQq8J-Q1_keSVhHbpewgk9LJtErv-X-JxE50n2sEaExPi_LTZ_yckrTMckH2WzxWStPNajlb8vFuhTY1KY0EihReNxlvyvSGC9v5GTWf376BxBIwRPc_zdaPI97kM639qh3V7zOlUO88OOKH5rV8Er_32glVSOSUb7vTKAuWkZIcaK0QlHUJOAPnT9r3ypd4919zXepa4xMid0ak5miGBa8QjcQ0F4zAiO6Tz0UbffDnp4xHN025E0YAwfkLt9sgXuPeWHW8UvUw1vHgbes5Vc6Z8NZjaBpDh8tyWp2fSr0EFWqpbiI0ve0B9TqVSdpkVhhakbVeQz32y0c9RkA0aIPAg8l45qQrxpxTQklNePVrVHymJtZUn-BC07fyXI14rNLBvLSgC5FmEZ3ieYCUdKFwIft8qtDcBbOwL-UHgF_vyW2wkZFhmhA-cKAKbGObhOld23Y6E9Pg6ci61QopFLAouzVqwJ1TLqll67378hs62qAHn3TBkMHEYdv8Dr094lVU5R_SiBzHBmnck5Q6yW02GygJTB7Arh3odJczJ3lYuCd3_sHLYaijZAFrNlCv11XowyPuY1_JMEDKBZCsQVLj_Cp4cIkQNcG8sOO9Px8YjFs2_U-N6o_GOg3UzlmFNfGTdcd2Hv53bqsz2LPv8XgLA2hEbZ52WnlsBhSb5QVdyCKQnr5L2R4Yx9JQHN4NSgyqU9Z1VMUYiYx0U0pOpmkEv3r6LfEaeHAOaJj84GPI23SF3-4AiErqbmmrYr8hrcHVicawHQQCQkXxB86mD5KH1ENJWlkMIdirczTmo4sxYCwOnvUXj4aDUxfs7YJztzHvoChso8aAcsECm1eNLX1skoL-_nXF9vXDNdlQGBhV62zNM5Mn9gtG1Ok_VHQ0C-88x1QCu1lwle8HL1M5PUnoBjSPR8myvz2H-7ldEBIsvGBi72VS5mSibCX4FOg5UnB2zW3zLpPS1ZC1i8XeNx-k9_TV2I5QKCz1FausIrjMF4s4hCfJqiCbCiamseEu0MgW27zj0FHR2XhL8WIBXOkUj1HF5tT3s7h2VOGH2dLZKuZUMAPa4iyP3t3ItGPwBNNmdtU0hi9kRZJ8s5YXWfP-hXNu1MeyIvuPmxPCuDpWtX_ngrtc4jIi5dNlCJgN1738GIkxwMd6R0wEQC0ouH6UxgEgIvND4KcrOTLuQBoLjvWCv-Ny40rhNdjUs9lKu9aqtdk2QY9qK3ucbhoY21wz; .AspNetCore.CookiesC2=MWySa0kFZ4rFIwi5GCGKWy5PAGR83pZRTQgAdpmumT2cYk51zwQEqNQTD9yrQUnyvU2HAukjQNXxOCJ-AxQkGi_WjpB5srlkYJzkbnMHwc5fMAC6hbYa2eTYpI_YzPqszYvncAIte8gNt9cfYO4bElx0VsguU624CDYzHjwc4CPRD3cKxHE5JOf2EdNAy6saBnOIQuWwmGZJB1RTXhwkiQd9MaKJuEUOPn3jvz5TSFdXQcdytfzikaVPUlF13D0riS52xntybOLf3KHyIbsz99o76yrD9bUaby6LLVivJxa59aCfguZhSYOH6pwTRyA_1IgvANnngB1Jb3-Xj8kVFgFqx2OSgguH2wmV7aKw33UvYKxVKx6NLu-u5Q_YuJNycDlPZVloMPYI9c6JtclB0XCgUw7EAZJiixgpmYWpTdGcC7Al-8zitX12IYAi6VJdKrgpYU4gyk0gRnllOZ1SSongj21uKXmxDyy8uKV6dvRolAUulAZGhePt3hcj_AAp4GHGv0bwdWQKePl9IqeS7hJgLVR40B14HAys1zXdKehSb74u1vAUcKSeH7R4J7XNSZgxDDDzbF4FEdiqJ--HQw8FU7Up6r8ZazkPFwF87qC9uHFF0x7Ez9UfEzmrYIALTdMOUuskpDuZsu3uMROA2Vjsr51YpoW8jnsUtlMgvhCIeITeW3-KqinueSn3Zsiu0hy92zvJTe52AU4h_g-qhL4HQE9WVQrlt7uQUo5GIovejBjfWaDghbOY4KWr5iFb2wC_EDzydsJFeA0iQMKBB0BlGkkap2Cnxu6k06xzxHzZ0vXGZ1ogyCFVIKXMgIVUyF0lYAfBf0t_vy72J1xJQz8rdH7Exm2ed8rRYBQZ1SQnrjcjmWk4ACRnsx6tu42XxJx5ZErKNdWoIvws8WbxQS7CdVe6E2GqnmYNBXLqzZc71Ph1idDhF67qSSmk8w6EYsbTSKYq1vJ4AUw5ZvfhA4l6M6ektnJPl_m-J17vi5i7oNUUq53UOdMTeaTJHDOpD_R8F37ezIcE7VQ3tN_1n9TcMhmKmYZcLVfT4Sg1sFw9077i3mLntEmnuxmKBxi4MfBfK8s4"

    - name: Upload ZAP HTML Report
      uses: actions/upload-artifact@v4
      with:
        name: zap-html-report
        path: zap-report.html

    - name: Upload ZAP XML Report
      uses: actions/upload-artifact@v4
      with:
        name: zap-xml-report
        path: zap-report.xml
